%include header control=control
%if msg:
<meta name="refresh" content="1;url=/browser"  />
<table>
  <tr>
    <td width="40">&nbsp;</td>
    <td bgcolor="#000000" valign="top">
      <h2>{{msg}}</h2>
      <hr />
    </td>
    <td width="40">&nbsp;</td>
  </tr>
</table>
%else:
<table>
  <tr>
    <td width="40">&nbsp;</td>
    <td bgcolor="#000000" valign="top">
      <h2>{{title}}</h2>
      <hr />
      %for i in filenames:
        {{!i.html}}
        <br>
      %end for
      <hr />
      %if page.page_count > 1:
        <center>
        {{page.pager()}}
        </center>
        <hr />
      %end if
    </td>
    <td width="40">&nbsp;</td>
  </tr>
</table>
%end if
%include footer
