%include header control=control
<body bgclolr="#000000">
<table>
  <tr>
    <td width="40">&nbsp;</td>
    <td bgcolor="#000000" valign="top">
      <hr />
      %for f in filenames:
        %if f.is_directory:
          <a href="/browser?root={{quote(f.file)}}">&nbsp;<font size="4" color="#cccccc">
            {{f.name}}</font><font size="4" color="#00FFFF">/</font></a>
        %else:
          {{!f.prefix}}
          <a {{f.focused}} href="/play/{{quote(f.name)}}">&nbsp;<font color="#ffffff">{{f.name}}</font></a>
        %end if
        <br>
      %end for
      <hr />
      %if filenames:
      <center>
      {{page.pager()}}
      </center>
      %end if
    </td>
    <td width="40">&nbsp;</td>
  </tr>
</table>
</body>
%include footer
